ion-item{
  --padding-start: 10px;
  --inner-padding-end: 10px;

  ion-thumbnail{
    height: 100%;
    margin-inline-end: 10px;

    ion-icon{
      font-size: 48px;
      color: #dcdcdc;
    }
  }

  h1{
    font-weight: bold;
    font-size: 0.8rem;
  }

  p{
    font-size: 0.6rem;
  }

  p + p{
    color: #8a8a8a;
  }

  ion-chip{
    padding-inline: 0;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    justify-content: center;
    border-width: 3px;
  }

  ion-badge{
    font-weight: 300;
    font-size: 0.6rem;
    margin-right: 2px;
  }
}
