ion-item{
  --padding-start: 10px;
  --inner-padding-end: 10px;

  ion-thumbnail{
    height: 100%;
    margin-inline-end: 10px;
  }

  h1{
    font-weight: bold;
    font-size: 0.8rem;
  }

  p{
    font-size: 0.6rem;
  }

  p + p{
    color: #8a8a8a;
  }

  ion-chip{
    padding-inline: 3px;
  }

  ion-badge{
    font-weight: 300;
    font-size: 0.6rem;
    margin-right: 2px;
  }
}
