<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Vídeos App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-searchbar placeholder="Buscar"></ion-searchbar>

  <ion-list>
    <ion-item-sliding>
      <ion-item lines="full">
        <ion-thumbnail slot="start">
          <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/fo4SSoNT1ASI4JP7dOLrosWNWKa.jpg">
        </ion-thumbnail>

        <ion-label class="ion-text-wrap">
          <div>
            <h1>O Exterminador do Futuro (1984)</h1>
            <p>25/03/1985 (BR) - 1h 47m</p>
            <p>Ação, Thriller, Ficção científica</p>
          </div>
        </ion-label>

        <ion-chip color="success" outline>
          <ion-label>76%</ion-label>
        </ion-chip>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option>
          <ion-icon slot="icon-only" name="star"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item lines="full">
        <ion-thumbnail slot="start">
          <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/6ocBqNSqG1hWbzjv2sZxLc07nLs.jpg">
        </ion-thumbnail>

        <ion-label class="ion-text-wrap">
          <div>
            <h1>Rambo: Programado Para Matar (1982)</h1>
            <p>06/11/1982 (BR) - 1h 34m</p>
            <p>Ação, Aventura, Thriller, Guerra</p>
          </div>
        </ion-label>

        <ion-chip color="success" outline>
          <ion-label>74%</ion-label>
        </ion-chip>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option>
          <ion-icon slot="icon-only" name="star"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item lines="full">
        <ion-thumbnail slot="start">
          <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/e50XYhyoaJpJUNn18Fs4FsZgtfx.jpg">
        </ion-thumbnail>

        <ion-label class="ion-text-wrap">
          <div>
            <h1>Kickboxer: O Desafio do Dragão (1989)</h1>
            <p>09/09/1989 (US) - 1h 37m</p>
            <p>Ação, Thriller</p>
          </div>
        </ion-label>

        <ion-chip color="warning" outline>
          <ion-label>68%</ion-label>
        </ion-chip>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option>
          <ion-icon slot="icon-only" name="star"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
